---
---
{% include header.html %}
<div class="container-fluid">
	<div class="row">
	<div class="col-md-3">		
	<div class="dropdown" style="margin-bottom:1em">
		<button class="btn btn-default dropdown-toggle"
		style="width:100%" 
			type="button"
			id="dropdownMenu1"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false">
		  <span id="selectedDoc">Memstate 1.0 beta</span>
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  <li><a href="/docs/core-1.0">Memstate 1.0 beta</a></li>
		</ul>
	  </div>
		<nav id="menu-sidebar" class="list-group list-group-root">
		</nav>
	</div>
	<div class="col-md-9">
  <!-- <ol class="breadcrumb">
  </ol> -->
	<style>
	table, tr, td, th { border-width:1px; padding:4px; border-style:solid; border-color:black;}
	</style>
		{{content}}
	</div>
	</div>
<script>

	function buildMenu(lines, expectedIndentation = "") {
		var result = []; //array of menu items
		while (lines.length > 0) {
			var line = lines[0]; //peek at the first line
			var actualIndentation = line.match("^ ?")[0];
			var diff = actualIndentation.length - expectedIndentation.length;
			if (diff == 0) {
				var fields = line.split(",");
				result.push({url: fields[0].trim(), title: fields[1].trim()});
				lines.shift();
			}
			else if (diff > 0) { //go deeper
				result[result.length -1].children = buildMenu(lines, actualIndentation);
			} else return result;
		}
		return result;
	}

	function renderMenu(menu, target, baseUrl) {
		var docContentElement =$("#docContent"); 
		for(var menuItem of menu) {
					var a = $("<a class='list-group-item'>");
						a.attr("href", baseUrl + menuItem.url);
						a.menuItem = menuItem;
						a.text(menuItem.title);
						target.append(a);
					if (menuItem.children) {
						a.attr('href', '#' + menuItem.url);
						a.attr('data-toggle', 'collapse');
						a.prepend($('<i class="glyphicon glyphicon-chevron-right"></i>'))
						var group = $("<div class='list-group collapse'>");
							group.attr("id", menuItem.url);
						target.append(group);
						renderMenu(menuItem.children, group, baseUrl + menuItem.url + "/");
					}
				}
	}

	   $(function(){

			 var path = document.location.pathname;

			 console.log("path: " + path);
			var re = new RegExp("^/docs/.*?/");
			var root = re.exec(path);

			var menuSidebar = $("#menu-sidebar");

			$.get(root + "menu.hcsv").then(function(data){
				
				var lines = data.split("\n").filter(function(line){
					return line.trim() != "";
				})
				var menu = buildMenu(lines);
				renderMenu(menu, menuSidebar, root);

				$('.list-group-item').on('click', function() {
					$('.glyphicon', this)
					.toggleClass('glyphicon-chevron-right')
					.toggleClass('glyphicon-chevron-down');
				});

				menuSidebar.find("a").filter(function(i,a){
					console.log($(a).attr('href'));
							return path.indexOf($(a).attr('href').concat("/")) >= 0;
					}).addClass('active')
					  .parent().collapse('show');
			});
			
				
	   });
</script>
{% include footer.html %}
